<div>
  <form #myForm="ngForm" class="card-form" (submit)="onSubmit()">
    <div class="input">
      <input
        style="color: #fbecd2"
        [(ngModel)]="emailModel.email"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        name="emailAddress"
        type="email"
        class="input-field"
        required
      />
      <label for="email" class="input-label">Email</label>
    </div>
    <span
      style="color: red; font-size: medium"
      *ngIf="myForm && myForm.invalid && myForm.touched"
      >Please enter a valid email address.</span
    >
    <span style="color: red; font-size: medium" *ngIf="!emailModel.isEmailInDB"
      >This Email is not registered with us</span
    >
    <span style="color: green; font-size: medium" *ngIf="displayOTPPage"
      >OTP Sent successfully to your email address.</span
    >

    <div class="action">
      <button [disabled]="myForm.invalid" type="submit" class="action-button">
        Send Email
      </button>
    </div>
    <div class="card-info">
      <p>
        Please enter you registered email address so that we can send you an
        email to reset you password.
      </p>
    </div>
  </form>

  <form
    #otpForm="ngForm"
    *ngIf="displayOTPPage"
    class="card-form"
    (submit)="onSubmitOTP()"
  >
    <div class="input">
      <input
        [(ngModel)]="otpFromClient"
        name="otp"
        pattern="^[0-9]{1,6}$"
        type="text"
        class="input-field"
        required
      />
      <label class="input-label">OTP</label>
    </div>
    <span
      style="color: red; font-size: medium"
      *ngIf="otpForm && otpForm.invalid && otpForm.touched"
      >Please enter a valid OTP.</span
    >
    <span style="color: red; font-size: medium" *ngIf="!verifyOTP.isOTPMatch"
      >Please enter correct OTP.</span
    >

    <div class="action">
      <button [disabled]="otpForm.invalid" type="submit" class="action-button">
        Verify OTP
      </button>
    </div>
  </form>
</div>
